<h3><i class="fa-solid fa-user-tie"></i> Advoc8</h3>

<div class="section">
  <p class="lead">Empower your career with Advoc8
    <br />
    Your accomplishments, your voice, your success.</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1 btn-rounded">
    <i class="fab fa-google left"></i>Log In With Google
  </a>
</div>